* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#header {
    display: block;
    height: 100px;
    width: 400px;
    margin: auto;
    background-color: black;
    border-bottom: 5px solid white;
}

#get-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    padding: 10px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

#outer-housing {
    display: block;
    width: 400px;
    height: 100%;
    margin: auto;
    background-color: black;
}

#screen {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 400px;
    height: 65px;
    font-size: 30px;
    letter-spacing: 2px;
    background-color: rgb(3, 90, 3);
    color: white;
    font-weight: 300pt;
}

#button-housing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
    width: 350px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 50px;
    font-weight: 300pt;
    color: white;
    background-color: black;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
}

#clear {
    color: red;
    font-size: 15px;
}

#backspace {
    color: red;
    font-size: 15px;
}

#equals {
    color: green;
}

/* Phone screen size settings */
@media screen and (min-width: 0px) and (max-width: 410px) {

#header {
    display: block;
    height: 100px;
    width: 250px;
    margin: auto;
    background-color: black;
    border-bottom: 5px solid white;
}

#outer-housing {
    width: 250px;
    height: 100vh;
    margin: auto;
    background-color: black;
}

#get-date {
    font-size: 15px;
}

#title {
    font-size: 25px;
}

#screen {
    width: 250px;
    height: 45px;
    font-size: 20px;
    letter-spacing: 1px;
    
}

#button-housing {
    width: 200px;

}
.button {
    height: 40px;
    width: 40px;
    font-size: 30px;
}

#clear {
    font-size: 10px;
}

#backspace {
    font-size: 10px;
}

}