body {
    background-color: #0000ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#div-one {
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-two {
    height: 300px;
    width: 300px;
    background-image: url("./images/news2.jpg");
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-three {
    height: 200px;
    width: 200px;
    background-color: gray;
    border-radius: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes rotate {
    from {
         -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#jsButton   {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 75%;
    border: 2px solid black;
    height: 75px;
    width: 75px;
    cursor: pointer;
    background-image: url("./images/news.jpg");
}